/*
    CSS for PlWeb
   For a tutorial on CSS, see
   <http://www.htmldog.com/guides/cssbeginner/selectors/>
*/

div.sidebar
{ float: left;
  width: 180px;
}

body.wiki div.navhdr
{ margin-left: 180px;
  padding-left: 5px;
}

div.content
{ margin-left: 180px;
  padding-left: 5px;
  border-style: solid;
  border-width: 0px;
  border-left-width: 1px;
  border-color: #a0a0a0;
}

div.logo
{ text-align: center;
}

div.menu
{ background-color: #f0f0f0;
}

div.footer
{ clear: both;
  font-size: 80%;
  text-align: right;
  margin-top: 10px;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: #a0a0a0;
}

div.menu ul
{ list-style-type: none;
  padding: 0px;
}

table.downloads
{ margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-style: outset;
  border-color: black;
}

table.downloads td
{ border-width: 1px;
  border-style: inset;
  border-color: black;
}

table.downloads th
{ text-align: center;
  background-color: yellow;
  font-weight: bold;
  border-width: 1px;
  border-style: inset;
  border-color: black;
}

td.toggle
{ text-align: right;
  font-size: 80%;
}

td.dl_file p
{ margin-top: 0px;
  margin-bottom: 0px;
}

/* Messages */

div.informational
{ background-color: #b0ffb0;
}

div.silent
{ display: none;
}

div.error
{ color: #ff0000;
}

pre.informational
{ background-color: #b0ffb0;
}

pre.error
{ color: #ff0000;
}

/* Auto-complete */

span.acmatch
{ background-color: #bbf;
}

#ac_predicate_complete .yui-ac-content
{ max-height:30em;
  overflow:auto;
  overflow-x:hidden; /* set scrolling */
  _height:30em; /* ie6 */
}

/* Wiki editing */

table.wiki_edit .git_msg
{ width: 100%;
}

table.wiki_edit .git_comment
{ width: 100%;
}

table.wiki_edit td.label
{ text-align: right;
  font-weight: bold;
  font-size: 80%;
}
