/*
    CSS for PlWeb
   For a tutorial on CSS, see
   <http://www.htmldog.com/guides/cssbeginner/selectors/>
*/

div.sidebar
{ float: left;
  width: 180px;
}

div.content
{ margin-left: 180px;
  padding-left: 5px;
  border-style: solid;
  border-width: 0px;
  border-left-width: 1px;
  border-color: #a0a0a0;
}

div.logo
{ text-align: center; 
}

div.menu
{ background-color: #f0f0f0;
}

div.footer
{ clear: both;
  font-size: 80%;
  text-align: right;
  margin-top: 10px;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: #a0a0a0;
}

div.menu ul
{ list-style-type: none;
  padding: 0px;
}

table.downloads
{ margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-style: outset;
  border-color: black;
}

table.downloads td
{ border-width: 1px;
  border-style: inset;
  border-color: black;
}

table.downloads th
{ text-align: center;
  background-color: yellow;
  font-weight: bold;
  border-width: 1px;
  border-style: inset;
  border-color: black;
}

td.toggle
{ text-align: right;
  font-size: 80%;
}

td.dl_file p
{ margin-top: 0px;
  margin-bottom: 0px;
}

/* Messages */

div.informational
{ background-color: #b0ffb0;
}

div.silent
{ display: none;
}
